<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block additional_links %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/icon/site.webmanifest') }}">
    <title>Registro Rifa</title>
    {% block additional_styles %}{% endblock %}
</head>
{% block content %}{% endblock %}
</html>